// MIXINS
@mixin card-style($colour) {
  background-color: $colour;
  border: solid 2px darken($colour, 20%);
  border-radius: 0.5rem;
  color: darken($colour, 40%);
}

@mixin card($colour) {
  @include card-style($colour);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  font-size: 2.5rem;
}

@mixin darken-style($colour) {
  background-color: darken($colour, 4%);
  border-color: darken($colour, 27%);
}

// VARIABLES
$num-cols: 4;
$card-size: 7rem;
$gutter: 0.25rem;
$grid-size: $num-cols * $card-size + ($num-cols - 1) * $gutter;

$back-colour: #b8e0d2;
$front-colour: #daeaf6;
$bg-colour: lighten($front-colour, 5%);
$btn-colour: #ffa281;

$rotate-0: rotate3d(1, 1, 0, 0deg);
$rotate-180: rotate3d(1, 1, 0, 180deg);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: lightyellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Dongle", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 100%;
}

.timer {
  width: $grid-size;
  height: 1rem;
  border-radius: 1rem;
  background-color: lightgrey;
  overflow: hidden;
  margin-top: 4rem;

  &__fill {
    height: 100%;
  }
}

.start .timer__fill {
  animation: timer-drain 60s linear both;
}
.fail .timer__fill {
  animation: timer-empty 1s linear both;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: $gutter;
  width: $grid-size;
  margin: 2rem 0;
}

.card {
  perspective: 60rem;

  &:hover {
    cursor: pointer;
  }

  &:hover &__back {
    @include darken-style($back-colour);
  }

  &:active &__back {
    background-color: darken($back-colour, 10%);
  }

  &.open {
    pointer-events: none;
  }

  &__bg {
    @include card($bg-colour);
    opacity: 0;
    transition-delay: 0.3s;
    transition-duration: 0.5s;
  }

  &__flipper {
    transition: 0.4s ease-out;
    transform-style: preserve-3d;
    transform-origin: 0;
    position: relative;
  }

  &__back {
    z-index: 2;
    transform: $rotate-0;
    @include card($back-colour);
  }

  &__front {
    transform: $rotate-180;
    @include card($front-colour);
  }

  &.open &__flipper {
    transform: $rotate-180;
  }

  &,
  &__front,
  &__back {
    width: $card-size;
    height: $card-size;
  }

  &__flipper,
  &__front,
  &__back {
    pointer-events: none;
  }
}

.reset-btn {
  @include card-style($btn-colour);
  font: inherit;

  &:hover {
    @include darken-style($btn-colour);
    cursor: pointer;
  }

  &:active {
    background-color: darken($btn-colour, 10%);
  }

  &__text {
    text-transform: uppercase;
    margin-top: 0.15em;
  }
}

.shake {
  animation: shake 0.4s 1s ease-in-out both;
}

.matched .card__front {
  animation: puff-out 0.4s 0.4s ease-out both;
}

.matched .card__bg {
  opacity: 100%;
  filter: saturate(0.3);
}

// ANIMATIONS
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(-7px);
  }
  80% {
    transform: translateX(7px);
  }
}

@keyframes puff-out {
  0% {
    transform: $rotate-180 scale(1);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    transform: $rotate-180 scale(1.4);
    filter: blur(4px);
    opacity: 0;
  }
}

@keyframes timer-drain {
  0% {
    width: 100%;
    background-color: #69b34c;
  }
  40% {
    background-color: #acb334;
  }
  75% {
    background-color: #d8b02c;
  }
  90% {
    background-color: #bb3f3f;
  }
  100% {
    width: 0;
    background-color: #bb3f3f;
  }
}

@keyframes timer-empty {
  0% {
    width: 100%;
    background-color: #bb3f3f;
    opacity: 0;
  }
  100% {
    width: 100%;
    background-color: #bb3f3f;
    opacity: 1;
  }
}
