@mixin card($colour) {
  font-family: "Gill Sans", sans-serif;
  font-weight: 500;
  background-color: $colour;
  border: solid 2px darken($colour, 20%);
  border-radius: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  backface-visibility: hidden;
  color: darken($colour, 40%);
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$card-size: 10rem;
$gutter: 0.25rem;
$grid-size: 4 * $card-size + 3 * $gutter;

$back-colour: #b8e0d2;
$front-colour: #daeaf6;
$bg-colour: lighten($front-colour, 5%);

$rotate-0: rotate3d(1, 1, 0, 0deg);
$rotate-180: rotate3d(1, 1, 0, 180deg);

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: $gutter;
  width: $grid-size;
  margin: 4rem auto;
}

.card {
  perspective: 60rem;

  &:hover &__back {
    background-color: darken($back-colour, 4%);
    border-color: darken($back-colour, 27%);
  }

  &.open {
    pointer-events: none;
  }

  &__bg {
    @include card($bg-colour);
    opacity: 0;
    transition-delay: 0.3s;
    transition-duration: 0.5s;
  }

  &__flipper {
    transition: 0.4s ease-out;
    transform-style: preserve-3d;
    transform-origin: 0;
    position: relative;
  }

  &__back {
    z-index: 2;
    transform: $rotate-0;
    @include card($back-colour);
  }

  &__front {
    transform: $rotate-180;
    @include card($front-colour);
  }

  &.open &__flipper {
    transform: $rotate-180;
  }

  &,
  &__front,
  &__back {
    width: $card-size;
    height: $card-size;
  }

  &__flipper,
  &__front,
  &__back {
    pointer-events: none;
  }
}

.shake {
  animation: shake 0.4s 1s ease-in-out both;
}

.matched .card__front {
  animation: puff-out 0.4s 0.4s ease-out both;
}

.matched .card__bg {
  opacity: 100%;
  filter: saturate(0.3);
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(-7px);
  }
  80% {
    transform: translateX(7px);
  }
}

@keyframes puff-out {
  0% {
    transform: $rotate-180 scale(1);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    transform: $rotate-180 scale(1.4);
    filter: blur(4px);
    opacity: 0;
  }
}
